* {
    font-family: "Inter", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 110%;
    background-color: white;
    overflow-x: hidden;
}

.aside{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: #E3E8EC;
    box-shadow:  0 0 10px black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 300px;
}

.logo{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 200px;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensagem{
    font-size: 16px;
}

.legenda{
    display: flex;
    flex-direction: column;
    height: 0;
    justify-content: space-around;
    align-items: center;
    overflow: hidden; /* Oculta o conteúdo que vai ser recolhido */
    transition: height 0.5s; /* Adiciona uma transição suave */
}

.estavel {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 70px;
    text-align: center;
    align-items: center;
    background-color: #73d645;
    border: #73d645 solid 5px;
    border-radius: 10px;
    color: #CCDEEC;
    font-weight: bold;
}

.oscilando{
    display: flex;
    width: 280px;
    height: 70px;
    text-align: center;
    align-items: center;
    background-color: #F19710;
    border: #F19710 solid 5px;
    border-radius: 10px;
    color: #CCDEEC;
    font-weight: bold;
}

.instavel{
    display: flex;
    width: 280px;
    height: 70px;
    text-align: center;
    align-items: center;
    background-color: #E03A24;
    border: #E03A24 solid 5px;
    border-radius: 10px;
    color: #CCDEEC;
    font-weight: bold;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100px;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.nav a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.dash{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 30px;
}

.header-dash{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 110%;
    height: 100px;
}

.nome_armazem {
    display: flex;
    width: 50%;
    justify-content: center;
    text-align: center;

    h1{
        margin-left: 250px;
        font-size: 37px;
    }
}

.item-menu{
    display: flex;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #E3E8EC;
    border-radius: 25px;
    font-weight: bold;
    font-size: 25px;
    color: #556946;
    margin-left: 100px;
}

.item-menu:hover{
    color: #E3E8EC;
    background-color: #556946;
    -xpedu-transform:scale(1.1);
    -ms-transform: scale();
    transform: scale(1.1);
}

.body-dash{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    margin-left: 50px;
}

.armazem {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;

    .temperatura {
        background-color: rgb(204, 222, 236, 0.8);
        color: #2E1402;
        width: 400px;
        border-radius: 5px;
        margin-right: 50px;
        text-align: center;
    }

    .umidade {
        background-color: rgb(204, 222, 236, 0.8);
        color: #2E1402;
        width: 400px;
        border-radius: 5px;
        text-align: center;
    }

}

.container1 {
    display: flex;
    flex-direction: row;
}

.menu {
    height: 100%;
    width: 180px;
    margin: 0;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#span_status {
    font-weight: 600px;
}

.status_temperatura {
    width: 300px;
    height: 115px;
    margin-top: 170px;
    text-align: center;
    background-color: rgba(183, 150, 107, 0.95);
    color: #FFFFFF;
    padding-top: 25px;
    border-radius: 5px;
}

.status_umidade {
    width: 300px;
    height: 115px;
    margin-top: 70px;
    text-align: center;
    background-color: rgba(183, 150, 107, 0.95);
    color: #FFFFFF;
    padding-top: 25px;
    border-radius: 5px;
}

.status_temperatura span {
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.status_umidade span {
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.graficos_linha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 110px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: black;
}

.umid {
    width: 650px;
    margin-left: 60px;
    background-color: #ccdeec;
    padding-left: 5px;
    border-radius: 5px;
}

.temp {
    width: 650px;
    margin-left: 60px;
    margin-top: 20px;
    background-color: #ccdeec;
    padding-left: 5PX;
    border-radius: 5px;
}


h1 {
    font-size: 25px;
    color: #2E1402;
}


.especificacoes {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.especificacoes_umidade {
    width: 340px;
    height: 190px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 222, 236, 0.8);
    padding: 20px;
    border-radius: 5px;
}

.especificacoes_temperatura {
    width: 340px;
    height: 190px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 222, 236, 0.8);
    padding: 20px;
    border-radius: 5px;
}

.span_esp_temp {
    flex-direction: column;
    color: #2E1402;
    font-size: 17px;
    display: flex;
    text-align: center;
}

.span_esp_umid {
    flex-direction: column;
    font-size: 17px;
    color: #2E1402;
    display: flex;
    text-align: center;
}

.esp_texto {
    width: 330px;
    display: flex;
    flex-direction: column;
}

.especificacoes_temperatura span {
    flex-direction: column;
    font-size: 18px;
    text-align: justify;
    display: flex;
}

.especificacoes_umidade span {
    flex-direction: column;
    font-size: 18px;
    text-align: justify;
    display: flex;
}

.alerta_atencao {
    color: #f19710;
    font-weight: bold;
}

.alerta_vermelho {
    color: #e03a24;
    font-weight: bold;
}

a:hover{
    -xpedu-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.05);
}

a{  
    width: 250px;
    height: 100px;
    text-decoration: none;   
}


#toggleButton::before {
    content: '\25BC'; 
    display: inline-block;
    margin-right: 5px; 
    transition: transform 0.3s ease; 
}

#toggleButton.expandido::before {
    transform: rotate(180deg);
}