body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../assets/jo-lanta-68KjM0kfsVo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    background-color: rgba(183, 150, 107, 0.8);
    width: 60%;
    height: 500px;
    margin: 50px auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

h1 {
    color: #556946;
    font-size: 40px;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
    margin-top: 20px;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #2E1402;
    color: #FFFFFF;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #EFB661;
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
}