* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html,
body {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 100vw;
    background-color: white;
}

.aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: #E3E8EC;
    box-shadow: 0 0 10px black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 100%;
    width: 300px;
}

.logo {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 200px;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensagem {
    font-size: 16px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100px;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.nav a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}

button {
    width: 200px;
    height: 50px;
    background-color: #E3E8EC;
    border: transparent;
    border-radius: 25px;
    font-weight: bold;
    font-size: 25px;
    color: #556946;
}

button:hover {
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.05);

    background-color: #556946;
    color: #E3E8EC;
}

.dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    gap: 10px;
}

.header-dash {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 110%;
    height: 100px;
}

.item-menu {
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #f1dec3;
    border-radius: 25px;
    font-weight: bold;
    font-size: 25px;
    color: #556946;
}

.area-parametros-alerta {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    justify-content: space-around;
    background-color: #180d08;

}

.area-parametros-alerta .titulo-legenda {
    color: white;
    font-weight: 600;
    width: fit-content;
    margin: 10px 20px;
    font-size: medium;
}

.parametros-alerta {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.item-regua {
    width: 20%;
    text-align: center;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 15px;
}

.item-regua p {
    margin: 0;
    font-weight: 500;
}

.item-regua p:nth-child(2) {
    font-weight: 800;
}

.perigo-frio {
    background-color: #808fe4;
}

.perigo-quente {
    background-color: #dc481b;
}

.alerta-frio {
    background-color: #2377bd;
}

.alerta-quente {
    background-color: #ffee58;
}

.ideal {
    background-color: #556946;
}


.nome_armazem {
    display: flex;
    width: 50%;
    justify-content: center;
    text-align: center;

    h1 {
        margin-right: 250px;
        font-size: 37px;
    }
}

.body-dash {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75vw;
    height: 80vh;
    gap: 20px;
    margin-left: 50px;
}

.container-temperatura {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border: solid 2px gray;
    border-radius: 15px;
     background-color: #ccb89c;
}

.temperatura {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.temperatura_atual {
    background-color: rgb(204, 222, 236, 0.8);
    color: #2E1402;
    height: 100px;
    width: 400px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.container-umidade {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border: solid 2px gray;
    border-radius: 15px;
    text-align: center;
    background-color: #ccb89c;
}

.umidade {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.umidade_atual {
    background-color: rgb(204, 222, 236, 0.8);
    color: #2E1402;
    height: 100px;
    width: 400px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;

}

#span_status {
    font-weight: 600px;
}

.status_temperatura {
    width: 400px;
    height: 120px;
    text-align: center;
    background-color: rgba(183, 150, 107, 0.95);
    color: #FFFFFF;
    padding-top: 25px;
    border-radius: 5px;
}

.status_umidade {
    width: 400px;
    height: 120px;
    text-align: center;
    background-color: rgba(183, 150, 107, 0.95);
    color: #FFFFFF;
    padding-top: 25px;
    border-radius: 5px;
}

.status_temperatura span {
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.status_umidade span {
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.umid {
    width: 650px;
    margin-left: 60px;
    background-color: #ccdeec;
    padding-left: 5px;
    border-radius: 5px;
}

.temp {
    width: 650px;
    margin-left: 60px;
    margin-top: 20px;
    background-color: #ccdeec;
    padding-left: 5PX;
    border-radius: 5px;
}


h1 {
    font-size: 25px;
    color: #2E1402;
}


.especificacoes {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.especificacoes_umidade {
    width: 340px;
    height: 190px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 222, 236, 0.8);
    padding: 20px;
    border-radius: 5px;
}

.especificacoes_temperatura {
    width: 340px;
    height: 190px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 222, 236, 0.8);
    padding: 20px;
    border-radius: 5px;
}

.span_esp_temp {
    flex-direction: column;
    color: #2E1402;
    font-size: 17px;
    display: flex;
    text-align: center;
}

.span_esp_umid {
    flex-direction: column;
    font-size: 17px;
    color: #2E1402;
    display: flex;
    text-align: center;
}

.esp_texto {
    width: 330px;
    display: flex;
    flex-direction: column;
}

.especificacoes_temperatura span {
    flex-direction: column;
    font-size: 18px;
    text-align: justify;
    display: flex;
}

.especificacoes_umidade span {
    flex-direction: column;
    font-size: 18px;
    text-align: justify;
    display: flex;
}

.alerta_atencao {
    color: #f19710;
    font-weight: bold;
}

.alerta_vermelho {
    color: #e03a24;
    font-weight: bold;
}

a:hover {
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.05);

    color: #E3E8EC;
}

a {
    width: 250px;
    height: 100px;
    text-decoration: none;
    color: #556946;
}

.graficos_linha {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 110px;
    gap: 20px;
    color: black;
}

.grafico_umidade {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    gap: 10px;
    padding: 10px;
    border: solid 2px gray;
    border-radius: 15px;
}

.grafico_temperatura {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 10px;
    padding: 10px;
    border: solid 2px gray;
    border-radius: 15px;

}

.div_canvas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 85%;
    width: 100%;
}