
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E3E8EC;
}

.header{
    display: flex;
    flex-direction: row;
    box-shadow:  0 0 10px black;
    height: 100px;
}

.header .geral{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 470px;
    margin-bottom: 10px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.logo{
    top: 0px;
    left: 0px;
    display:block;
    width: 10%;
}

.logo img {
    width: 100px;
    height: auto;
}

.navbar {
    width: 75%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
}

.navbar a{
    color: black;
    text-decoration: none;
}

.navbar a:hover{
    -xpedu-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.navbar .cadastro{
    width: 150px;
    height: 40px;
    align-content: center;
    text-align: center;
    background-color: #556946;
    color: white;
    border-radius: 15px;
    font-weight: bold;
}

.banner .container{
    width: 100%;
    height: 900px;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    justify-content: center;
    align-items: center;
    background-image: url("../assets/jo-lanta-68KjM0kfsVo-unsplash.jpg");
}
.form{
    width: 50%;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(183, 150, 107, 0.8);
    padding: 3rem;
    border-radius: 5px;
    margin-bottom: 50px;
}

.form-header{
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    display: flex;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 6.5rem;
    height: 0.3rem;
    background-color: #36561E;
    margin: 0 auto;
    position: absolute;
    border-radius: 25px;
}

.div-mensagem{
    margin-top: 2%;
    margin-bottom: 2%;
}

.input-group{
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.input-box{
    display: flex;
    flex-direction: column;
}

.input-box input{
    margin: 0.9rem 0;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
.input-box p{
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box select{
    margin: 0.6rem 0;
    padding: 0.6rem 1.0rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c; 
}


.form .continue-button button{
    width: 300px;
    border: none;
    background-color: #2E1402;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    /* margin-top: 280px; */
}

.continue-button button:hover{
    background-color: #36561E;
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.continue-button button a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.div_mensagem{
    color: #000000;
    font-weight: bold;
    margin-top: 2%;
}

.form .login a{
    color: #2E1402;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.form .login a:hover{
    color: #36561E;
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}









