*{
    font-family: "Inter", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E3E8EC;
}

.header{
    display: flex;
    flex-direction: row;
    box-shadow:  0 0 10px black;
    height: 500px;
}

.header .geral{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 470px;
    margin-bottom: 10px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.logo{
    top: 0px;
    left: 0px;
    display:block;
    width: 10%;
}

.logo img {
    width: 100px;
    height: auto;
}

.navbar {
    width: 75%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
}

.navbar a{
    color: black;
    text-decoration: none;
}

.navbar a:hover{
    -xpedu-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.navbar .cadastro{
    width: 150px;
    height: 40px;
    align-content: center;
    text-align: center;
    background-color: #556946;
    color: white;
    border-radius: 15px;
    font-weight: bold;
}

.header .container2{
    display: flex;
    width: 60%;
    flex-direction: column;
    margin-left: 40px;
}

.header .container2 h1{
    width: 800px;
    font-size: 60px;
    height: 100px;
}

.header .container2 h4{
    height: 40px;
}

.header .container2 .buttons{
    display: flex;
    flex-direction: row;
    height: 50px;
}

.header .button1{
    width: 150px;
    height: 40px;
    border: solid 3px #506C3B;
    border-radius: 2px;
    color: #506C3B;
    font-weight: bold;
    margin-right: 20px;
}

.header .button1:hover{
    -xpedu-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        box-shadow: 0 0 10px #556946;
}

.header .button2{
    width: 200px;
    height: 40px;
    border: solid 3px #506C3B;
    border-radius: 2px;
    color: #506C3B;
    font-weight: bold;
}

.header .button2:hover{
    -xpedu-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        box-shadow: 0 0 10px #556946;
}

.header .imagem{
    display: flex;
    justify-content: end;
    width: 30%;
    height: 500px;
}

.header .imagem img{
    width: 100%;
}

.section2{
    display: flex;
    width: 100%;
    height: 600px;
    align-items: start;
    flex-direction: row;
    background-image: url(../assets/Fundo.png);
    background-repeat: no-repeat;
    background-size: contain; 
}


.section2 img{
    width: 700px;
    height: 700px;
}

.section2 .box-texto{
    text-align: start;
    margin: 0 auto;
    width: 60%;
    height: 450px;
}

.section2 .box-texto h1{
    font-size: 60px;
    color: #556946;
}

.section2 li{
    text-align: start;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 30px;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 800px;
}

.section3 h1{
    font-size: 40px;
    display: flex;
    color: #556946;
}

.section3 .boxes{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80%;
}

.section3 .boxes .box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #556946;
    color: #E3E8EC;
    border: #E3E8EC solid 2px;
    border-radius: 10px;
    width: 280px;
    height: 400px;
}

.section3 .boxes .box .box-interno{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 380px;
    border: #E3E8EC 2px dashed;
    border-radius: 10px;
}

.section3 .boxes .box .box-interno img{
    margin-top: 10px;
    width: 180px;
    height: 120px;
}

.section3 .boxes .box .box-interno p{
    margin-top: 5px;
    width: 220px;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
}

.section3 .boxes .box:hover{
    box-shadow: inset 0 0 10px white;
}


.section4{
    display: flex;
    width: 100%;
    height: 900px;
    margin-bottom: 100px;
}


.section4 img{
    width: 800px;
    height: 900px;
}

.box-section4{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 800px;
}

.section4 .box-section4 h1{
    margin-left: 50px;
    font-size: 60px;
    color: #556946;
}

.section4 .box-section4 .linha_section4{
    display: flex;
    width: 400px;
    height: 3px;
    background-color: #506C3B;
    margin-bottom: 20px;
}

.section4 .box-section4 p{
    margin: 30px;
    font-size: 28px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

.section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
    background-image: url(../assets/Frame\ 5\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section5 h1{
    font-size: 30px;
    font-weight: bold;
    color: #556946;
}

.section5 .linha_section5 {
    background-color: #556946;
    width: 600px;
    height: 3px;
}


.section5 .container{
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 600px;
}


.section5 .container_input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
    height: 550px;
    border-radius: 10px;
    background-color: #E3E8EC;
    color: black;
}

.section5 .container_input .input{
    width: 400px;
    height: 36px;
    background-color: #E3E8EC;
    border: solid black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.section5 .container_input .option{
    text-align: center;
    width: 409px;
    border: solid black;
    background-color: transparent;
    color: black;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
}

.section5 .container_button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section5 .container_button .button{
    border: solid black 2px;
    border-radius: 50px;
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
}

button:hover{
    -xpedu-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}


.div_resposta{
    display: block;
    word-break: keep-all;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    background-color: #E3E8EC;
    width: 500px;
    border-radius: 10px;
    color: black;
    height: 500px;
    animation: moveToRight 1s ;
}

@keyframes moveToRight {
    from{
        margin-left: -65.5%;
    }

    to{
        margin-left: 0%;
    }
}

.section6{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 550px;
    margin-bottom: 30px;
}

.section6 h1{
    margin-top: 30px;
    width: 40%;
    font-size: 40px;
    text-align: center;
    color: #556946;
}

.section6 .linha_contato{
    background-color: #556946;
    height: 3px;
    width: 300px;
}

.section6 h3{
    width: 40%;
    text-align: start;
}

.section6 .mensagem{
    display: flex;
    width: 80%;
}

.section6 .input{
    display: flex;
    text-align: start;
    width: 40%;
    height: 100px;
    border:solid  black;
    border-radius: 5px;
}

.section6 .input_msg{
    display: flex;
    text-align: start;
    width: 80%;
    height: 100px;
    border: solid black;
    border-radius: 5px;
}


.section6 button{
    margin-top: 20px;
    justify-content: center;
    width: 200px;
    height: 80px;
    border: solid 3px #556946;
    border-radius: 20px;
    color: #506C3B;
    font-weight: bold;
    font-size: 20px;
}

.section6 button:hover{
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 10px #556946;
}



.footer{
    color: #E3E8EC;
    background-color: #506C3B;
    box-shadow:  0 0 10px black;
    font-weight: bold;
    height: 100px;
}

.footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .container .box1{
    width: 40%;
    margin-left: 20px;
}

.footer .container .box2{
    width: 40%;
    text-align: end;
    margin-right: 20px;
}
